.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header__logo {
    color: white;
    margin: 0;
}
